.header
  .header__bar
    %h1.header__title
      Work Record

.main
  .list
    %ul.list__title
      %li.list__item
        日付
      %li.list__item
        開始時間
      %li.list__item
        終了時間
      %li.list__item
        大分類
      %li.list__item
        中分類
      %li.list__item
        詳細

  .data
    %ul.data__box
      %li.data__item
      %li.data__item
      %li.data__item
      %li.data__item
      %li.data__item
      %li.data__item

