* {
  box-sizing: border-box;
}

.header{
  background-color: red;
}

.list{
  display: flex;
  justify-content: space-around;
  background-color: green;
}

.date{
  display: flex;
  flex-direction: column;
  background-color: blue;
  &__box{
    display: flex;
    justify-content: space-around;
  }
}